basket_frames/
basket_nas/
basketanalysis(yolov8)/
basketdet/
basketmodel/
basketnas/
basketvid/
biscuit_frames/
biscuitmodel/
biscuitpredict/
cartlensenv/
face_recognition_intel/
face_recognition/
humandete/
inference/
logo/
output_frames/
person/
persondet(yolonas)/
personmodel/
position_estimation/
ppt_pic/
runs/
stock_output/
*.docx
*.zip
*.mp3
*.pptx
*.mp3
*.png
*.txt
*.bin 
*.xml
*.mp4
*.csv